html, body {
  margin: 0 auto;
  background-color: whitesmoke;
}

html {
  max-width: 1024px;
  min-width: 720px;
  font-size: 24px;
  font-family: 'Lora', serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.7rem 1.3rem;
  margin-bottom: 3rem;

  background-color: #182e6b;
}

header img {
  height: 4rem;
  width: auto;
}

header > span {
  font-size: 1.2rem;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
}

.paragraph-wrapper {
  box-sizing: content-box;
  border: 5px solid #182e6b;
  padding: 0 1rem;
  margin: 2.4rem 1.5rem;
  background-color: #c1ddff7a;
}

.paragraph-wrapper > * {
  margin-block-start: 0;
}

.paragraph-wrapper > h3 {
  display: inline-block;
  position: relative;
  top: -1rem;
  margin: 0;
  padding: 0 0.5rem;
  margin-block-end: 0;
  background-color: whitesmoke;
  color: #182e6b;
}

.paragraph-wrapper ul {
  padding-inline-start: 1.2rem;
  margin-block-start: -1rem;
}

.note-wrapper {
  box-sizing: content-box;
  margin: 2.4rem 1.5rem;
  padding: 1rem;

  border-left: 5px solid #ff9600db;
  background-color: #ffa2005c;
}

.note-wrapper > h3 {
  margin-block-start: 0;
  margin-block-end: 1rem;

  color: #ff9600db;
}

.note-wrapper p {
  margin-block-start: 0;
  margin-block-end: 0;
}

#my-photo {
  border: 3px solid #182e6b;
  float: right;
  height: auto;
  width: 20%;
  margin: 1rem 0;
  margin-left: 1rem;
}

footer {
  padding: 1rem 1.3rem;

  background-color: #182e6b;
  color: whitesmoke;
}

footer ul {
  margin-bottom: 0;
  padding-left: 1rem;
  border-left: 5px solid whitesmoke;
}

footer li {
  list-style-type: none;
}

footer a {
  color: inherit;
}
